@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Helvetica Neue", "Pretendard", sans-serif;
  word-break: keep-all;
  background-color: #f6faff;
  line-height: 1.8rem;
}

.period {
  @apply italic font-light;
}

.project-desc-detail-wrapper {
  @apply py-2;
}

.project-desc-detail-wrapper:last-child {
  @apply pb-0;
}

.ul-disc {
  @apply mt-2 pr-4 text-gray-800 leading-relaxed flex flex-col gap-1;
}
