@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica Neue', 'Pretendard', sans-serif;
  word-break: keep-all;
  background-color: #F6FAFF;
  line-height: 1.8rem;
}
